@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Our mission continues to carry brand new musical instruments for rent that are among the highest quality and most playable instruments available for rent anywhere.</h3>

<p> All of the instruments we carry are especially designed for students and have been approved by teachers throughout the world. All instruments are custom-manufactured and are hand-picked by the founder and president, Mr. Kenneth Kuo, who is a professional cellist and musician with exacting standards for musical quality. For our wind and brass instruments, we understand the appeal of something shiny and new. Therefore we are constantly updating our stock. We offer brand new band instruments that are rent-to-own meaning that if you rent certain band instruments for 18 consecutive months the instrument is yours to keep after that time.</p>

<h3>About Kenneth Kuo</h3>
<p>
    After receiving his bachelor’s degree from Juilliard and his masters degree from Yale, Kenneth Kuo started The Connecticut School of Music in Westport in 1999. Since then he has expanded with schools in Greenwich and Manhattan. Today, Ken practices and performs with his own 1735 Goffriller cello and 1867 Villiume cello. As an accomplished concert cellist and recording artist, Mr, Kuo has played with some of the world’s finest instruments, including Stradivaris, Guarnerie and Amati cellos, and has even assisted in some of the finest repair shops in New York City.
</p>
<br />
<img src="~/Content/man.jpg" class="center"/>